/* dashboard */
.et-building {
    margin: 0 auto;
    position: relative;
}

.et-building-left, .et-building-right {
    position: absolute;
    width: 50%;
    height: 230px;
}

.et-building-left {
    left: 0;
    background: transparent url(/media/dashboard.xl-left.png) no-repeat left center;
}

.et-building-right {
    right: 0;
    background: transparent url(/media/dashboard.xl-right.png) no-repeat right center;
}

.et-building .et-floor {
    position: absolute;
    width: 100%;
}

    .et-building .et-floor .et-area {
        padding: 2px 3px;
    }

        .et-building .et-floor .et-area .et-client {
            display: inline-block;
            padding: 2px 1px;
            box-shadow: 0 0 1px 1px rgba(252, 252, 252, 1);
            cursor: pointer
        }
        .et-building .et-floor .et-area .et-client:first-child{
            margin-right: 5px;
        }
        .et-building .et-floor .et-area .et-client:hover {
            box-shadow: 0 0 1px 1px rgba(0, 256, 0, 0.5);
        }
        .et-building .et-floor .et-area .et-client.subscribed{
            box-shadow: 0 0 1px 1px rgba(0, 256, 0, 1);
        }
        .et-building .et-floor .et-area .et-client i {
            margin: 0 1.5px
        }

        .et-building .et-floor .et-area.et-area-left {
            float: left;
            margin-left: 211px;
        }

        .et-building .et-floor .et-area.et-area-right {
            float: right;
            margin-right: 211px;
        }


    .et-building .et-floor.et-floor-4 {
        top: 68px;
    }

    .et-building .et-floor.et-floor-3 {
        top: 109px;
    }

    .et-building .et-floor.et-floor-2 {
        top: 152px;
    }

    .et-building .et-floor.et-floor-1 {
        top: 189px;
    }

@media (max-width: 700px) {
    .et-building {
        margin: 0 -20px;
    }

    .et-building-left {
        background-image: url(/media/dashboard.l-left.png);
    }

    .et-building-right {
        background-image: url(/media/dashboard.l-right.png);
    }

    .et-building .et-floor .et-area.et-area-left {
        margin-left: 53px;
    }

    .et-building .et-floor .et-area.et-area-right {
        margin-right: 53px;
    }
}

@media (min-width: 1090px) {
    .et-building .et-floor.et-floor-1 .et-area.et-area-left {
        margin-left: 446px;
    }
}

@media (min-width: 1200px) {
    .et-building {
        width: 1170px;
        height: 230px;
    }
}

@media (min-width: 1600px) {
    .et-building {
        width: 1570px;
        height: 308px;
        background: transparent url(/media/dashboard.xxl.png) no-repeat;
    }

    .et-building-left, .et-building-right {
        display: none;
        background-image: none;
    }

    .et-building .et-floor.et-floor-4 {
        top: 93px;
    }

    .et-building .et-floor.et-floor-3 {
        top: 146px;
    }

    .et-building .et-floor.et-floor-2 {
        top: 202px;
    }

    .et-building .et-floor.et-floor-1 {
        top: 254px;
    }

    .et-building .et-floor .et-area {
        padding: 5px 5px 4px;
    }

        .et-building .et-floor .et-area.et-area-left {
            margin-left: 282px;
        }

        .et-building .et-floor .et-area.et-area-right {
            margin-right: 275px;
        }

    .et-building .et-floor.et-floor-1 .et-area.et-area-left {
        margin-left: 600px;
    }
    .et-building .et-floor .et-area .et-client {
        font-size: 1.3em;
        padding: 2px 4px;
    }
}


