<template>
  <require from="./dashboard.css"></require>
  <require from="../components/dashboard-client"></require>
  <section class="au-animate">
    <h2>Dashboard</h2>
    <div class="et-building">
      <div class="et-building-left"></div>
      <div class="et-building-right"></div>

      <div repeat.for="floor of floors" class="${floor.floorName | floorCss}">
        <div repeat.for="area of floor.areas & oneTime" class="${area.areaName | areaCss}">
          <dashboard-client repeat.for="client of area.clients & oneTime" client.bind="client" area.bind="area.areaName"></dashboard-client>
        </div>
      </div>
    </div>
  </section>
</template>
