<template>
  <require from="./dashboard.css"></require>
  <section class="au-animate">
    <h2>Dashboard</h2>
    <div class="et-building">
      <div class="et-building-left"></div>
      <div class="et-building-right"></div>

      <div repeat.for="floor of floors" class="${floor.css}">
        <div repeat.for="area of floor.areas" class="${area.css}">
          <div repeat.for="client of area.clients" class="et-client ${client.subscribed ? 'subscribed' : ''} ${!client.isAvailable ? 'et-subscribable' : ''}"
          click.trigger="toggleSubscription(client)">
            <i repeat.for="sensor of client.sensors" class="fa fa-${sensor.client.gender} ${sensor.stateCss}"></i>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
