/* dashboard */
.et-building {
    margin: 0 auto;
    position: relative;
}

.et-building-left, .et-building-right {
    position: absolute;
    width: 50%;
    height: 230px;
}

.et-building-left {
    left: 0;
    background: transparent url(/media/dashboard.xl-left.png) no-repeat left center;
}

.et-building-right {
    right: 0;
    background: transparent url(/media/dashboard.xl-right.png) no-repeat right center;
}

.et-building .et-floor {
    position: absolute;
    width: 100%;
}

    .et-building .et-floor .et-area {
        box-shadow: 0 0 1px 1px rgba(252, 252, 252, 0.9);
        padding: 2px 3px;
    }

        .et-building .et-floor .et-area .et-client {
            display: inline-block;
        }
        .et-building .et-floor .et-area .et-client i {
            margin: 0 1.5px
        }

        .et-building .et-floor .et-area.et-area-left {
            float: left;
            margin-left: 215px;
        }

        .et-building .et-floor .et-area.et-area-right {
            float: right;
            margin-right: 215px;
        }


    .et-building .et-floor.et-floor-4 {
        top: 72px;
    }

    .et-building .et-floor.et-floor-3 {
        top: 113px;
    }

    .et-building .et-floor.et-floor-2 {
        top: 154px;
    }

    .et-building .et-floor.et-floor-1 {
        top: 191px;
    }

@media (max-width: 700px) {
    .et-building {
        margin: 0 -20px;
    }

    .et-building-left {
        background-image: url(/media/dashboard.l-left.png);
    }

    .et-building-right {
        background-image: url(/media/dashboard.l-right.png);
    }

    .et-building .et-floor .et-area.et-area-left {
        margin-left: 53px;
    }

    .et-building .et-floor .et-area.et-area-right {
        margin-right: 53px;
    }
}

@media (min-width: 1090px) {
    .et-building .et-floor.et-floor-1 .et-area.et-area-left {
        margin-left: 460px;
    }
}

@media (min-width: 1200px) {
    .et-building {
        width: 1170px;
        height: 230px;
    }
}

@media (min-width: 1600px) {
    .et-building {
        width: 1570px;
        height: 308px;
        background: transparent url(/media/dashboard.xxl.png) no-repeat;
    }

    .et-building-left, .et-building-right {
        display: none;
        background-image: none;
    }

    .et-building .et-floor.et-floor-4 {
        top: 99px;
    }

    .et-building .et-floor.et-floor-3 {
        top: 155px;
    }

    .et-building .et-floor.et-floor-2 {
        top: 209px;
    }

    .et-building .et-floor.et-floor-1 {
        top: 258px;
    }

    .et-building .et-floor .et-area {
        padding: 5px 5px 4px;
    }

        .et-building .et-floor .et-area.et-area-left {
            margin-left: 290px;
        }

        .et-building .et-floor .et-area.et-area-right {
            margin-right: 286px;
        }

    .et-building .et-floor.et-floor-1 .et-area.et-area-left {
        margin-left: 600px;
    }

    .et-building .et-floor .et-area .et-client i {
        font-size: 1.3em;
    }
}