<template>
    <section class="au-animate">
        <h2>About Enttoi</h2>
        <p>Enttoi is a system that collects real-time events that sent out from hardware sensors. This data then normalized
            and displayed in different shapes on different clients.</p>

        <p>Although it seems like a simple task, or as many tend to say two lines of code ;), there are in fact many moving
            parts. The good news are that the entire project was built with <cite>open source</cite> in mind, thus anyone
            can see the <a href="https://github.com/Enttoi" target="_blank">implementation details</a> or even <a href="http://enttoi.github.io/"
            target="_blank">high level overview</a>.
        </p>

        <p>Besides being OS, we'll be happy to accept contributions. This can come if the following shapes:
            <ul>
                <li>Feedback - positive and negative, discovered bugs</li>
                <li>Ideas - send us via Issues on Github</li>
                <li><a href="http://oss-watch.ac.uk/resources/pullrequest">PR</a>'s</li>
                <li>Entirely new client - just ping us to create a repo</li>
                <li>Enhancements to design and UX</li>
            </ul>
        </p>
        <h3>Submit feedback</h3>
        You can either submit a form in <a href="http://goo.gl/forms/KbAvVjH1ZM" target="_blank">Google Form</a> or by contacting one of the contributers <a href="https://github.com/orgs/Enttoi/people" target="_blank">here</a>.
        
        <form class="form-horizontal" style="display: none">
            <div class="form-group">
                <label for="inputName" class="col-sm-2 control-label">Name or email</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="inputName" placeholder="Optional (only if you want to get reply from us)">
                </div>
            </div>
            <div class="form-group">
                <label for="inputMessage" class="col-sm-2 control-label">Your message</label>
                <div class="col-sm-6">
                    <textarea class="form-control" rows="5" placeholder="Required" id="inputMessage"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-6">
                    <button type="submit" class="btn btn-primary">Send feedback</button>
                </div>
            </div>
        </form>
    </section>
</template>