<template>
  <require from="./stats.css"></require> 
  <section class="au-animate">
    <h2>${heading}</h2>
    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-4">
        <div class="list-group table-of-contents">
          <a repeat.for="row of router.navigation" href.bind="row.href" class="list-group-item ${row.isActive ? 'active' : ''}">${row.title}</a>
        </div>
      </div>
      <div class="col-lg-10 col-md-9 col-sm-8">
        <div class="row">
          <div class="col-lg-12">
            <div class="btn-group pull-right" role="group" aria-label="...">
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-venus-mars"></i> Gender: ${genders.selected.title}
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li repeat.for="gender of genders.list & oneTime">
                    <a href="#" click.trigger="selectGender(gender)"><i class="${gender.icon}"></i> ${gender.title}</a>
                  </li>
                </ul>
              </div>
              <button type="button" class="btn btn-default range-picker"><i class="fa fa-calendar"></i> ${selectedDatesRangeText} <span class="caret"></span></button>
            </div>
          </div>
        </div>
        <router-view></router-view>
      </div>
    </div>
  </section>
</template>
