<template>
  <require from="../../components/chart"></require>
  <section class="au-animate">
    <div class="row">
      <div repeat.for="client of clients" class="col-lg-6 col-md-6 col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading"><i class="fa ${client.gender | genderCss & oneTime}"></i> ${client.floorNumeral } floor ${client.area} wing</div>
          <div class="panel-body">
            <div repeat.for="sensor of client.sensors" class="col-lg-${12/client.sensors.length} col-md-${12/client.sensors.length} col-sm-${12/client.sensors.length}">
            <!--${client.id} ${sensor.id}-->
            <chart />
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
