dashboard-client {
  display: inline-block;
  padding: 1px;  
  background: #bbb
}
dashboard-client div {  
  padding: 1px 0;  
  background: #272b30;
}
dashboard-client:first-child{
  margin-right: 5px;
}
dashboard-client:hover, 
dashboard-client:focus,
dashboard-client:active  {
  background:#fff;
  cursor: pointer;
}
dashboard-client.et-subscribed{
  background: url(/media/selection.black.gif) 
}
dashboard-client i {
  margin: 0 1.5px
}

@media (min-width: 1600px) {  
  dashboard-client {
    font-size: 1.3em;
  }
  dashboard-client div{
    padding: 1px 3px;    
  }
}
