dashboard-client {
  display: inline-block;
  padding: 2px 1px;  
  box-shadow: 0 0 0 1px #bbb
}
dashboard-client:first-child{
  margin-right: 5px;
}
dashboard-client:hover {
  box-shadow: 0 0 0 1px #fff;
  cursor: pointer;
}
dashboard-client.et-subscribed{
  outline: 1px dashed #272b30;
  box-shadow: 0 0 0 1px #bbb;
  animation: 0.6s 0s animateBorder ease-in-out infinite;  
}
dashboard-client i {
  margin: 0 1.5px
}

@media (min-width: 1600px) {  
  dashboard-client {
    font-size: 1.3em;
    padding: 2px 4px;
  }
}

@keyframes animateBorder {
  to {
    outline-color: #bbb;
    box-shadow: 0 0 0 1px #272b30;
  }
}
