<template>
  <require from="./live-counter.css"></require>
  <table class="et-live-counter">
    <tr>
      <td><i class="fa fa-male"></i></td>
      <td class="text-success">${male.free}</td>
      <td class="text-danger">${male.occupied}</td>
      <td>${male.offline}</td>
    </tr>
    <tr>
      <td><i class="fa fa-female"></i></td>
      <td class="text-success">${female.free}</td>
      <td class="text-danger">${female.occupied}</td>
      <td>${female.offline}</td>
    </tr>
  </table>
</template>
