.et-navbar-logo {
    display: inline-block;
    width: 20px;
    height: 17px;
    background: transparent url(/media/logo.header.png) no-repeat;
}

.navbar-text{
    margin-top: 2px;
    margin-bottom: 0;
}
