.et-navbar-logo {
    display: inline-block;
    width: 20px;
    height: 17px;
    background: transparent url(/media/logo.header.png) no-repeat;
}

.navbar-text{
    margin-top: 2px;
    margin-bottom: 0;
}
@media (max-width: 767px) {
  .navbar-text{
    float: none !important;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -39px;
  }
}
