.et-system-message{
    z-index: 10000;
    background-color: #f0ad4e;
    display: inline-block;
    position: absolute;
    left: 50%;
    margin-left: -75px;
    min-width: 150px;
    padding: .2em .6em .3em;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0  0 .25em .25em;
    text-shadow: none;
    display: none;
}