<template>
  <require from="./health.css"></require> 
  <section class="au-animate view-health">
    <div class="row">
      
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading"><i class="fa fa-tachometer"></i> Syntetic check <strong>API</strong> - 1 week
          </div>
          <div class="panel-body">
            <div class="nr-insights-host"><iframe src="https://insights-embed.newrelic.com/embedded_widget/B7VmsRJ92y46uEgjjBj_npL-8Hbv-Kb5" scrolling="no"></iframe></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading"><i class="fa fa-tachometer"></i> Syntetic check <strong>Gateway</strong> - 1 week
          </div>
          <div class="panel-body">
            <div class="nr-insights-host"><iframe src="https://insights-embed.newrelic.com/embedded_widget/1jLpbNuvnmjZ2PD5asZXNxPeIzS4X_hy" scrolling="no"></iframe></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading"><i class="fa fa-tachometer"></i> Syntetic check <strong>Web</strong> - 1 week
          </div>
          <div class="panel-body">
            <div class="nr-insights-host"><iframe src="https://insights-embed.newrelic.com/embedded_widget/QUAJRwX7l-gAB32qVq7k-mUNdbLU3OX-" scrolling="no"></iframe></div>
          </div>
        </div>
      </div>
      
      
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading"><i class="fa fa-tachometer"></i> <strong>API</strong> response time, throughput and error rate - 24 hours
          </div>
          <div class="panel-body">
            <div class="nr-widget-host"><iframe src="https://rpm.newrelic.com/public/charts/50aSQPPPMRV" scrolling="no"></iframe></div>
            <div class="nr-widget-host"><iframe src="https://rpm.newrelic.com/public/charts/gB8rfWKojVT" scrolling="no"></iframe></div>
            <div class="nr-widget-host"><iframe src="https://rpm.newrelic.com/public/charts/9Oti43IQJ8N" scrolling="no"></iframe></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading"><i class="fa fa-tachometer"></i> <strong>Gateway</strong> response time, throughput and error rate - 24 hours
          </div>
          <div class="panel-body">
            <div class="nr-widget-host"><iframe src="https://rpm.newrelic.com/public/charts/4eEdCkBOBim" scrolling="no"></iframe></div>
            <div class="nr-widget-host"><iframe src="https://rpm.newrelic.com/public/charts/cynuo9FyCSy" scrolling="no"></iframe></div>
            <div class="nr-widget-host"><iframe src="https://rpm.newrelic.com/public/charts/4NXKWA98N6I" scrolling="no"></iframe></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
