<template>
  <require from="./index.css"></require> 
  <section class="au-animate">
    <h2>${heading}</h2>
    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-4">
        <div class="list-group table-of-contents">
          <a repeat.for="row of router.navigation & oneTime" href.bind="row.href" class="list-group-item ${row.isActive ? 'active' : ''}"><i class="fa ${row.settings}"></i> ${row.title}</a>
        </div>
      </div>
      <div class="col-lg-10 col-md-9 col-sm-8">
        <div class="row">
          <div class="col-lg-12">
          </div>
        </div>
        <router-view class="views-about"></router-view>
      </div>
    </div>
  </section>
</template>
