body {
  margin: 0;
}
.et-loader{	
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -75px;
	margin-left: -73px;
}
	.et-loader div{
		width: 150px;
		height: 146px;
		background: transparent url(/media/logo.loader.jpg) no-repeat;
	}
	.et-loader h3{
		font-size: 0.98em;
		text-align: center
	}
.et-navbar-logo{
	display: inline-block;
	width: 20px;
	height: 17px;
	background: transparent url(/media/logo.header.jpg) no-repeat
}	

.page-host {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

@media print
{
  .page-host {
    position: absolute;
    left: 10px;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow-y: inherit;
    overflow-x: inherit;
  }
}

section {
    margin: 0 20px;
}

/* animate page transitions */
section.au-enter-active {
  -webkit-animation: fadeInRight 1s;
  animation: fadeInRight 1s;
}

div.au-stagger {
  /* 50ms will be applied between each successive enter operation */
  -webkit-animation-delay:50ms;
  animation-delay:50ms;
}

.card-container.au-enter {
  opacity: 0!important;
}

.card-container.au-enter-active {
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

/* animation definitions */
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* dashboard */
.et-building
{
  background: transparent url(/media/dashboard.xl.jpg) no-repeat;
  background-size: cover;
}
  .et-building .row
  {
    margin-top: 62px;
    margin-bottom: 53
  }