body {
    margin: 0;
}

.et-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -73px;
}

    .et-loader div {
        width: 150px;
        height: 150px;
        background: transparent url(/media/logo.main.png) no-repeat center center;
    }

    .et-loader h3 {
        font-size: 0.98em;
        text-align: center;
    }

.et-navbar-logo {
    display: inline-block;
    width: 20px;
    height: 17px;
    background: transparent url(/media/logo.header.png) no-repeat;
}

.page-host {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

@media print {
    .page-host {
        position: absolute;
        left: 10px;
        right: 0;
        top: 50px;
        bottom: 0;
        overflow-y: inherit;
        overflow-x: inherit;
    }
}

section {
    margin: 0 20px;
}

    /* animate page transitions */
    section.au-enter-active {
        -webkit-animation: fadeInRight 1s;
        animation: fadeInRight 1s;
    }

div.au-stagger {
    /* 50ms will be applied between each successive enter operation */
    -webkit-animation-delay: 50ms;
    animation-delay: 50ms;
}

.card-container.au-enter {
    opacity: 0 !important;
}

.card-container.au-enter-active {
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 2s;
}

/* animation definitions */
@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* dashboard */
.et-building {
    margin: 0 auto;
    position: relative;
}

.et-building-left, .et-building-right {
    position: absolute;
    width: 50%;
    height: 230px;
}

.et-building-left {
    left: 0;
    background: transparent url(/media/dashboard.xl-left.png) no-repeat left center;
}

.et-building-right {
    right: 0;
    background: transparent url(/media/dashboard.xl-right.png) no-repeat right center;
}

.et-building .et-floor {
    position: absolute;
    width: 100%;
}

    .et-building .et-floor .et-area {
        box-shadow: 0 0 1px 1px rgba(252, 252, 252, 0.9);
        padding: 2px 3px;
    }

        .et-building .et-floor .et-area .et-client {
            display: inline-block;
        }
        .et-building .et-floor .et-area .et-client i {
            
        }

        .et-building .et-floor .et-area.et-area-left {
            float: left;
            margin-left: 215px;
        }

        .et-building .et-floor .et-area.et-area-right {
            float: right;
            margin-right: 215px;
        }


    .et-building .et-floor.et-floor-4 {
        top: 72px;
    }

    .et-building .et-floor.et-floor-3 {
        top: 113px;
    }

    .et-building .et-floor.et-floor-2 {
        top: 154px;
    }

    .et-building .et-floor.et-floor-1 {
        top: 191px;
    }

@media (max-width: 700px) {
    .et-building {
        margin: 0 -20px;
    }

    .et-building-left {
        background-image: url(/media/dashboard.l-left.png);
    }

    .et-building-right {
        background-image: url(/media/dashboard.l-right.png);
    }

    .et-building .et-floor .et-area.et-area-left {
        margin-left: 53px;
    }

    .et-building .et-floor .et-area.et-area-right {
        margin-right: 53px;
    }
}

@media (min-width: 1090px) {
    .et-building .et-floor.et-floor-1 .et-area.et-area-left {
        margin-left: 460px;
    }
}

@media (min-width: 1200px) {
    .et-building {
        width: 1170px;
        height: 230px;
    }
}

@media (min-width: 1600px) {
    .et-building {
        width: 1570px;
        height: 308px;
        background: transparent url(/media/dashboard.xxl.png) no-repeat;
    }

    .et-building-left, .et-building-right {
        display: none;
        background-image: none;
    }

    .et-building .et-floor.et-floor-4 {
        top: 99px;
    }

    .et-building .et-floor.et-floor-3 {
        top: 155px;
    }

    .et-building .et-floor.et-floor-2 {
        top: 209px;
    }

    .et-building .et-floor.et-floor-1 {
        top: 258px;
    }

    .et-building .et-floor .et-area {
        padding: 5px 5px 4px;
    }

        .et-building .et-floor .et-area.et-area-left {
            margin-left: 290px;
        }

        .et-building .et-floor .et-area.et-area-right {
            margin-right: 286px;
        }

    .et-building .et-floor.et-floor-1 .et-area.et-area-left {
        margin-left: 600px;
    }

    .et-building .et-floor .et-area .et-client i {
        font-size: 1.3em;
    }
}
